/* Estilos para el contenedor principal de Index */
.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Estilos para el componente de filtro (barra lateral) */
  .filters {
    width: 250px; /* Ancho de la barra lateral */
    padding: 20px;
    background-color: #f0f0f0; /* Color de fondo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  /* Estilos para el componente de listado (tarjetas de propiedad) */
  .listing {
    width: calc(100% - 270px); /* Ancho ajustado para acomodar la barra lateral */
    margin-left: 20px; /* Espacio entre la barra lateral y las tarjetas */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilos para las tarjetas de propiedad */
  .listing .card {
    width: calc(33.33% - 10px); /* Ancho de cada tarjeta */
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .listing .card:hover {
    transform: translateY(-5px); /* Efecto de elevación en el hover */
  }
  
  /* Estilos para el contenido de las tarjetas */
  .listing .card .content {
    padding: 20px;
  }
  
  /* Estilos para el componente Index */
.property-section {
  display: flex;
  flex-direction: row-reverse; /* Invierte el orden de aparición de los elementos */
  justify-content: space-between;
  align-items: flex-start;
}

/* Estilos para el componente Filter (barra lateral) */
.filters {
  width: 250px;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el componente Listing (tarjetas) */
.listings {
  flex: 1; /* Ocupa todo el espacio restante */
  padding: 20px;
  background-color: #fff; /* Fondo blanco */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: 20px; /* Espacio entre el filtro y las tarjetas */
}
/* Estilos para el componente Index */
.property-section {
  display: flex;
  flex-direction: row; /* Cambia la dirección de fila a columna */
}

/* Estilos para el componente Filter (barra lateral) */
.filters {
  width: 250px;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el componente Listing (tarjetas) */
.listings {
  flex: 1;
  display: flex; /* Cambia a un diseño de columna */
  flex-direction: column; /* Cambia la dirección de columna */
  align-items: center; /* Centra las tarjetas horizontalmente */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
